.upper-pane {
    width: 1fr;
    height: 2fr;
    border: none;
    background: black;
}

.log-pane {
    width: 1fr;
    height: 1fr;
    border: round gray;
    color: white;
    background: black;
}

.status-bar {
    width: 1fr;
    height: 1;
    border: none;
    color: black;
    background: lightblue;
    text-style: bold;
}

.filelist-pane {
    width: 1fr;
    height: 1fr;
    border: round gray;
    background: black;
}

.filelist-pane:focus {
    border: round white;
}

.filelist-title {
    content-align: left middle;
    width: 1fr;
    height: 1;
    border: none;
}

.filelist-header {
    width: 1fr;
    height: 1;
    content-align: center middle;
    border: none;
    color: black;
    background: lightblue;
    text-style: bold;
}

.filelist-items {
    width: 1fr;
    height: 1fr;
    border: none;
}

.filelist-footer {
    width: 1fr;
    height: 1;
    content-align: center middle;
    border: none;
    color: black;
    background: lightblue;
    text-style: bold;
}

.filelist-item {
    layout: horizontal;
    width: 1fr;
    height: 1;
    border: none;
}

.filelist-item.selected {
    background: blue;
    border: none;
}

.file-cursor {
    dock: left;
    width: auto;
    height: 1;
    border: none;
}

.file-name {
    content-align: left middle;
    height: 1;
    background: transparent;
    border: none;
}

.file-stats {
    dock: right;
    content-align: right middle;
    width: auto;
    height: 1;
    background: transparent;
    border: none;
}

.list-dialog {
    offset: 0 0;
    width: 100%;
    height: 100%;
    border: round white;
}

.dialog-title-bar {
    width: 1fr;
    height: 1;
    content-align: center middle;
    border: none;
    color: black;
    background: lightblue;
    text-style: bold;
}

.dialog-list-items {
    width: 1fr;
    height: 1fr;
    border: none;
}

.dialog-status-bar {
    width: 1fr;
    height: 1;
    content-align: center middle;
    border: none;
    color: black;
    background: lightblue;
    text-style: bold;
}

.dialog-list-item {
    layout: horizontal;
    width: 1fr;
    height: 1;
    border: none;
}

.dialog-list-item.selected {
    background: blue;
    border: none;
}

