Static {
    content-align: center middle;
    background: black;
    border: solid gray;
}

.upper-pane {
    width: 1fr;
    height: 2fr;
    border: none;
}

.log-pane {
    width: 1fr;
    height: 1fr;
    border: round gray;
}

.log-pane:focus {
    border: round white;
}

.status-bar {
    width: 1fr;
    height: 1;
    border: none;
    color: black;
    background: gray;
}

.filelist-pane {
    width: 1fr;
    height: 1fr;
    border: round gray;
}

.filelist-pane:focus {
    border: round white;
}

.filelist-title {
    content-align: left middle;
    width: 1fr;
    height: 1;
    border: none;
}

.filelist-header {
    width: 1fr;
    height: 1;
    border: none;
    color: black;
    background: gray;
}

.filelist-items {
    width: 1fr;
    height: 1fr;
    border: none;
}

.filelist-item {
    layout: horizontal;
    width: 1fr;
    height: 1;
    border: none;
}

.filelist-item.selected {
    background: blue;
    border: none;
}

.file-cursor {
    dock: left;
    width: auto;
    height: 1;
    border: none;
}

.file-name {
    content-align: left middle;
    height: 1;
    background: transparent;
    border: none;
}

.file-stats {
    dock: right;
    content-align: right middle;
    width: auto;
    height: 1;
    background: transparent;
    border: none;
}

.filelist-footer {
    width: 1fr;
    height: 1;
    border: none;
    color: black;
    background: gray;
}