Static {
    content-align: center middle;
    background: black;
    border: solid gray;
}

.upper-pane {
    width: 1fr;
    height: 2fr;
    border: none;
}

.lower-pane {
    width: 1fr;
    height: 1fr;
    border: none;
}

.status-bar {
    width: 1fr;
    height: 1;
    border: none;
    color: black;
    background: gray;
}

.filelist-pane {
    width: 1fr;
    height: 1fr;
    border: round white;
}

.filelist-title {
    width: 1fr;
    height: 1;
    border: none;
}

.filelist-header {
    width: 1fr;
    height: 1;
    border: none;
    color: black;
    background: gray;
}

.filelist-items {
    width: 1fr;
    height: 1fr;
    border: none;
}

.filelist-footer {
    width: 1fr;
    height: 1;
    border: none;
    color: black;
    background: gray;
}